@import 'tailwindcss';
@import '@videojs/themes/dist/fantasy/index.css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Предотвращает горизонтальную прокрутку */
}

.hoverImg img:not([disabled]):hover {
  cursor: pointer;
}
